/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 de jul. de 2026, 08:22:39
    Author     : aluno
*/
.meu-vbox-botoes {
    -fx-alignment: center; 
    -fx-spacing: 15px;
}


.meu-vbox-botoes .button {
    -fx-max-width: 200px;
    -fx-width: 100%;
}
